
@{
    ViewBag.Title = "Sobre";
}
<h2>Sobre</h2>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 containerTexto">
        <p>
            Iniciei minha trajetória na área de Tecnologia da Informação no começo de 2007 realizando suporte e atendimento ao usuário. Trabalhei na empresa KTY Engenharia pelo período de 3 anos e 3 meses, na Baxter Hospitalar, através da Todo Tecnologia, por 2 anos e 2 meses e na Faculdade Fipecafi como suporte por 1 ano e 10 meses. Considero esta etapa muito importante em minha formação, pois devido ao contato direto com os usuários consegui adquirir pratica na convivência e comunicação e entender melhor suas necessidades.
        </p>
        <p>
            Trabalhei por 8 meses na empresa Emania como Administrador de e-commerce e tive a oportunidade de ter meu primeiro contato profissional com a criação e edição de páginas web.
        </p>
        <p>
            Durante minha experiência dentro da Faculdade Fipecafi ganhei a oportunidade de migrar para área de desenvolvimento, onde atuei durante 3 anos. Neste período atuei realizando a manutenção e o desenvolvimento de rotinas web utilizando as seguintes Linguagens, Frameworks e Tecnologias: .Net, C# ASP.Net MVC, SQL, Entity Framework (Database First e Code First), Bootstrap, HTML, CSS, Javascript, JQuery, Razor, Linq, Expressão Lambda, Visual Studio e SQL Server. Meu maior projeto nesta etapa foi o Sistema do Congresso USP de Contabilidade, sendo responsável pelo desenvolvi do Website, Sistema de Cadastro de Coordenadores, Avaliadores e Congressistas, Submissão de Trabalhos, Inscrições e pagamentos, Avaliação dos trabalhos e gerenciamento dos resultados, congressistas e financeiro.
        </p>
        <p>
            Atualmente estou desde Junho de 2019 trabalhando no projeto de Compras da Secretaria do Estado da Saúde realizando a manutenção e o desenvolvimento de novas funcionalidades utilizando as seguintes Linguagens, Frameworks e Tecnologias:  .Net, C#, ASP.Net MVC, PL/SQL, Entity Framework (Data-Base First e Code First), NHibernate (Data-Bootstrap, HTML, CSS, Javascript, JQuery, Razor, Linq, Expressão Lambda, Visual Studio e Oracle Database. Este projeto tem como principal objetivo o gerenciamento de compras de remédios das farmácias de auto custo do estado de São Paulo, atuo dentro da PRODESP através da consultoria MAGNA Sistemas.
        </p>
    </div>
</div>